body{
    background-color: black;
}

.container-fluid{
    background-color: black;
}

.texto {
position: absolute;
color:#fff;
text-align: center;
top: 31%;
left: 50%;
transform: translate(-50%, 0);
line-height: 60px;
width: 250px;
height: 30px;
display: flex;
font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 100px;
opacity: 0.9;
width: 50%;
height: 1180px;
height:400px;
justify-content: center;
}

.texto-logo {
    position: absolute;
    color:#fff;
    text-align: center;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    line-height: 60px;
    width: 250px;
    height: 30px;
    display: flex;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    opacity: 0.9;
    width: 50%;
    height: 1180px;
    height:400px;
    justify-content: center;
    }

.container-img{
    position: relative;


}
/*.logo{
display: flex;
font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 100px;
opacity: 0.9;
width: 50%;
height: 1180px;
height:400px;
    background-size:cover;
 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}*/

.navbar{
    /* Rectangle 1 */
position: absolute;
height: 55px;
left: 0px;
top: 0px;
background: #FFFFFF;
overflow:hidden;
width:100%;
}

.nav-item{
    position: relative;
    width: 165px;
height: 37px;
left: 390px;
top: 9px;
font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 69.3%;

display: flex;
align-items: center;
text-align: center;

color: #3E3E3E;
}

.img-fluid{
position: relative;
height: 50px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
    
}

.responsive-img img{
filter: opacity(0.7);

}

.img-logo{
    filter: opacity(0,7);
    margin-bottom: 5%;
    }
    
}

